<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <nav>
        <section>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/api/files">All Document</a></li>
            </ul>
        </section>
    </nav>
    <main>
        <form action="/api/file" name="documentForm" enctype="multipart/form-data" onsubmit="submitForm(e)" method="post">
            <div>
                <label for="firstname"> Firstname </label>
                <input type="text" name="firstname" id="firstname">
            </div>
            <div>
                <label for="lastname"> Lastname </label>
                <input type="text" name="lastname" id="lastname">
            </div>
            <div>
                <label for="fileInput"> identity document (PDF only are allowed)</label>
                <input type="file" name="file" id="fileInput" onchange="handleFiles()">
            </div>
            <div>
                <label for="fileSize">File size:</label>
                <output id="fileSize">0</output>
            </div>
            <div>
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    </main>
    <script src="/js/submitdocument.js" type="text/javascript"></script>
</body>
</html>